Repository Evansmedley/zoom-checkup-bot, pull requests merged in 2024-01, with the labels that each got.

#48 47 define arm and slider change methods in the backend
  checkup-bot-backend/pom.xml
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/CheckupBotController.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/Requests/ChangeArmRequest.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/Requests/ChangeSliderRequest.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/config/WebConfig.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/controllers/ArmMovementController.java
  checkup-bot-backend/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/images/arrow.png
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/pages/Control.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/Login.jsx
  frontend/src/styles/pages/_control.scss
  frontend/src/styles/pages/_home.scss
Labels: backend

#52 Connected to mongodb, added tests for mongodb, added methods for endp…
  checkup-bot-backend/pom.xml
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/CheckupBotBackendApplication.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/controllers/ArmMovementController.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/controllers/RoboticArmEndpointRegistrationController.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/documents/RoboticArmEndpoint.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/repositories/RoboticArmEndpointRepository.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/requests/ChangeArmRequest.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/requests/ChangeSliderRequest.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/services/LivenessProbeService.java
  checkup-bot-backend/src/main/resources/application.properties
  checkup-bot-backend/src/test/java/com/checkupbot/checkupbotbackend/MongoTest.java
  checkup-bot-backend/src/test/java/com/checkupbot/checkupbotbackend/RoboticArmEndpointRegistrationControllerTest.java
Labels: backend, infrastructure

#56 53 write python http client method to register with backend and define http server api to respond to liveness probes
  checkup-bot-backend/README.md
  checkup-bot-backend/pom.xml
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/CheckupBotBackendApplication.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/controllers/ArmMovementController.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/controllers/RoboticArmEndpointRegistrationController.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/documents/RoboticArmEndpoint.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/repositories/RoboticArmEndpointRepository.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/requests/ChangeArmRequest.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/requests/ChangeSliderRequest.java
  checkup-bot-backend/src/main/java/com/checkupbot/checkupbotbackend/services/LivenessProbeService.java
  checkup-bot-backend/src/main/resources/application.properties
  checkup-bot-backend/src/test/java/com/checkupbot/checkupbotbackend/LivenessProbeServiceTest.java
  checkup-bot-backend/src/test/java/com/checkupbot/checkupbotbackend/MongoTest.java
  checkup-bot-backend/src/test/java/com/checkupbot/checkupbotbackend/RoboticArmEndpointRegistrationControllerTest.java
  robot-endpoint/HTTPClient.py
  robot-endpoint/__pycache__/HTTPClient.cpython-310.pyc
  robot-endpoint/__pycache__/flask_app.cpython-310.pyc
  robot-endpoint/__pycache__/http_client.cpython-310.pyc
  robot-endpoint/__pycache__/main.cpython-310.pyc
  robot-endpoint/__pycache__/movements.cpython-310.pyc
  robot-endpoint/control_robot.py
  robot-endpoint/flask_app.py
  robot-endpoint/main.py
  robot-endpoint/master.py
  robot-endpoint/requrements.txt
Labels: backend, robot

#66 Update server host for -l
  checkup-bot-backend/src/main/resources/application.properties
  robot-endpoint/main.py
Labels: backend, robot

#67 Facial Detection and Motor Control Fixes Implemented
  robot-endpoint/README.md
  robot-endpoint/camera.py
  robot-endpoint/haarcascade_frontalface_default.xml
  robot-endpoint/movements.py
  robot-endpoint/slave.py
Labels: robot

#76 Added camera stream from robot to the web app
  frontend/src/pages/Control.jsx
  robot-endpoint/stream_camera.py
  robot-endpoint/tests/test_camera.py
Labels: robot
